@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

.mainBody {
  height: 100vh;
  width: 100vw;
  max-width: 430px;
  max-width: 932px;
  display: flex;
  justify-content: center; /* This is horizontal*/
  margin: 0 auto;
  /* border: 1px solid black; */
  border-radius: 10px;
  padding: 5px;
  /* Background colouring */
  background-image: linear-gradient(
    to left top,
    #d4b165 0%,
    #e2d09a 13.33%,
    #dfece6 66.66%,
    white 100%
  );
}

.header-title {
  font-family: "DM Sans", sans-serif;
  margin-top: 2rem;
  font-size: 3em;
}
.jacob {
  color: #b88f2b;
}

.profile-pic {
  border-radius: 60%;
  height: 15rem;
}

.arch-div {
  border: 1px solid lime;
  height: 80%;
  width: 45%;
  margin: 0 auto;
  border-radius: 25% 35% 0 0;
  display: flex;
  justify-content: center;
}
